body {
    font-family: 'Times New Roman', Times, serif;
    background: palegoldenrod; 
    color: darkslategrey;
    margin: 0;
    padding: 0;

}

header {
    background: palegoldenrod;
    color: darkslategrey;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.113);
}

h2 {
    color: darkslategrey;
}

footer {
    background-color: #f7f0e8;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #555;

}